/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* utility or base line start */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 50px;
}
.width {
  width: 80%;
  margin: auto;
}
/* utility or base line End */

/* top container design start */
.top-container {
  display: flex;
  align-items: center;
}
.left-part-article {
  width: 100%;
}
h1 {
  line-height: 70px;
}
.btn-prebook-now,
.btn-buy-now {
  display: inline-block;
  background-color: #e02c6d;
  padding: 5px 20px;
  border-radius: 25px;
  color: white;
}
.btn-buy-now,
.btn-prebook-now a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.right-part-image {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../img/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 440px 414px;
}
.right-part-image img {
  width: 440px;
  height: 414px;
}
/* top container design end */

/* middle container design start */
.Popular-Collection-container {
  margin-top: 150px;
}
.Popular-Collection-container > h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.items img {
  margin-top: 10px;
}

.items h2 {
  margin-bottom: 0px;
}

.items p {
  margin-top: 0px;
}

.item {
  width: 329px;
  padding-left: 30px;
  margin: auto;
}
.item h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}

.rating {
  display: flex;
  align-items: center;
  width: 16px;
}
.rating .filled,
.half-empty {
  color: orange;
  margin: 2px;
  font-size: 10px;
}
.rating .half-empty {
  color: orange;
}
.rating h5 {
  margin-left: 10px;
  color: #5e6366;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rating p {
  font-size: 14px;
  font-weight: 700;
  color: gray;
  margin: 0px;
}
.btn_see_more {
  display: flex;
  justify-content: end;
  background-color: #fff;
  color: #e02c6d;
  margin-right: 95px;
}
/* middle container design end */
/* latest product design start */
.Latest-Product-container {
  margin-bottom: 150px;
  margin-top: 150px;
}
.product img {
  width: 300px;
  height: 262px;
  border-radius: 5px;
}
.Latest-Products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Latest-Products img {
  margin-top: 10px;
}

.Latest-Products h2 {
  margin-bottom: 0px;
}

.Latest-Products p {
  margin-top: 0px;
}

.product {
  width: 329px;
  padding-left: 30px;
  margin: auto;
}
.product h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}
.btn-buy-now {
  display: inline-block;
  background-color: #e02c6d;
  padding: 5px 20px;
  border-radius: 25px;
  color: white;
}
.btn-buy-now a {
  text-decoration: none;
  color: white;
  text-align: center;
}

/* latest product design end */

/* =======================================
        Footer part design start
========================================== */
.container {
  background-color: #0a0826;
  text-align: center;
  color: #ffffff;
  padding: 20px 0px;
}

.socal-logo-padding {
  padding: 5px 10px;
}

/* =======================================
    Footer part design end
========================================== */
