/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* utility or base line */
* {
  /* margin: 0px;
  padding: 0px; */
}
body {
  width: 80%;
  /* border: 1px solid violet; */
  margin: auto;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}

/* top container design start */
.top-container {
  display: flex;
  align-items: center;
}
.left-part-article {
  width: 100%;
}
h1 {
  line-height: 70px;
}
.btn-prebook-now {
  display: inline-block;
  background-color: #e02c6d;
  padding: 5px 20px;
  border-radius: 25px;
  color: white;
}
.btn-prebook-now a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.right-part-image {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../img/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 440px 414px;
}
.right-part-image img {
  width: 440px;
  height: 414px;
}
/* top container design end */

/* middle container design start */
.middle-container {
  margin-top: 200px;
}
.middle-container > h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.items h2 {
  margin-bottom: 0px;
}
.items img {
  margin-top: 10px;
}
.items p {
  margin-top: 0px;
}

.item {
  width: 329px;
  padding-left: 30px;
  margin: auto;
}
.item h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}

.rating {
  display: flex;
  align-items: center;
  width: 16px;
}
.rating h5 {
  margin-left: 10px;
  color: #5e6366;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rating .filled,
.half-empty {
  color: orange;
  margin: 2px;
  font-size: 10px;
}
.rating .half-empty {
  color: orange;
}
.rating p {
  font-size: 14px;
  font-weight: 700;
  color: gray;
  margin: 0px;
}
/* middle container design end */
